**/.DS_Store
**/a.out

**/xcshareddata/
**/xcuserdata/

*.gcda

.cache/
.ccls-cache
.idea/
.history/
.vs/
.vscode/
.clangd/

compile_commands.json

build/
build_debug/
build_release/

bin/
obj/
tests/